
body {
  
  font-family: "Arvo";
  font-size: 22px;
  background-image: url('./utils/background2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-dark .navbar-toggler {
  color: #0062cc;
  border-color: rgba(255,255,255,.1);
  background: #ffaa33;
}
.logo:hover{
opacity: 0.5;
}
.cat {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;

}

.cat li {
  display: inline-block;
  margin: 15px;
}

.cat li:hover  {
  transform: scale(1.1);
}

a {
  color: #fff;
}
a:hover{
  text-decoration: none;

  color: #ffaa33;
}
.bg-dark {
  background-color: #000000bf!important;
  margin-bottom: 75px;
}
.page-footer {
  width: 100%;
  background-color: #000000bf;
  margin-top:155px;
  color:#ffaa33

}
.container-fluid{
  width:100%
}
.nav-item  {
margin: 10px

}
.btn-primary, .btn-primary:focus, .shadow-none:focus,.btn, .btn:focus {
  color: #545b62 ;
  background-color: #ffaa33 ;
  border-color: #ffaa33;
  font-size: x-large;
  outline:none
} 
.btn-primary:active, .shadow-none:active, .btn:active {
  color: #545b62 ;
  background-color: #ffaa33 ;
  border-color: #ffaa33;
  font-size: x-large;
  outline:none
}
.btn-primary:hover, .shadow-none:hover,.btn:hover  {

  color:#fff;
  background-color: #4e555b;
  border-color: #4e555b;

}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  border-color: #4e555b;
}

.col-sm-8 {
  text-align: center;
}
.ad-container {
  padding:0.9rem;
}

.row-container {
  background-color: #6c757d52;
  height:100%;
  margin-bottom:25px;
}
.row-container:hover {
  transform: scale(1.05);
}
.services-section {
  margin: auto; 
  scroll-margin-inline: 5px;   
  display: block;
}
.space p {
 
  display: inherit;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin: 1rem;
  list-style: none;
  background-color: #ffaa33;
  border-radius: .25rem;
  font-size: small;
  font-weight: 600;
  color: #545b62;
}
.img-card {
  margin-top:15px;
  margin-bottom:15px;
  width:100%
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form{
 color: #ffaa33;
  padding: 3rem!important;
  text-align: center!important;
  margin-top: 75px;
  background-color: #000000bf;
}
.prof{
  margin-top:75px
}
.mb-4{
  display: inline-block;
  height: calc(1.5em + .75rem + 2px);
  font-size: x-large;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}

.form-control:focus {
  color: #545b62;
  background-color: #fff;
  border-color: #ffaa33;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #ffaa33;
}
.jumbotron {
  padding: 3.7rem 2rem;
  margin-top:65px;
  background-color: #000000bf;
  text-align: center;
  color: #ffaa33;
}
.jumbotron h1 {
  margin: 50px;
}

.jumbotron input {
  font-size: x-large;
  padding: 10px;
  margin: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  color:#545b62;
  border-radius: 5px;
}
.jumbotron select {
  font-size: x-large;
  color:#545b62;
  padding: 10px;
  margin: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 5px;
}
form .btn{
  margin:40px;
}
.jumbotron input:focus {
  background-color: #fff;
  border-color: #ffaa33;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffaa33;
  padding: 10px;
  margin: 40px;
  color: #545b62;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;


}
.btn.focus, .btn:focus {
  outline: 0;
 box-shadow: none;
}

.jumbotron select:focus {
  font-size: x-large;
  color:#545b62;
  padding: 10px;
  margin: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffaa33;
}
.jumbotron button, .jumbotron button:focus {
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.jumbotron button:focus{
   border: none;
}
.sorting {
  display: inline-block;
  background-color: #6c757d52;
}
.sorting ul {
  display: inline-block;
  list-style: none;
}
.details {
  background-color: #6c757d52;
  margin-top: 60px;
  padding: 25px;
  display:inline-block;
  width:70%
}
.details button {
  margin-right:20px;
  width:120px
}
.title {
  padding-bottom: 45px;
}
.edit {
  padding: 8px;
}
.profile {
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile button {
  margin-right: 10px;
  padding: 10px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
  padding: 10px;
  background: #545b62;
}
.dropdown-item{
  color: #ffaa33;
  background-color: #ffaa33;
  border-color: #ffaa33;
  border-style: solid;
  font-size: x-large;
  border-radius: 5px;
  padding: 4px 10px;
  opacity:0.7;
  outline:none;
}
.dropdown {
  margin-bottom: 50px;
  position: static;
}
.dropdown button:focus {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.dropdown-menu.show {
  display: inline-grid;
  left: -47px !important ;
  border-radius: 5%;
  background-color: #6c757d52;
}.dropdown-menu.show button {
  margin:10px;
}
.err a{
  margin-bottom:50px
}
.ad-container h3{
  margin-top:50px
}
.pag{
  display:inline-block
}
.page-link {
  color: #6c757d;
  background-color: #ffaa33;
  border: 1px solid #ffaa33;
}
.page-link:hover,.page-link:focus {
  color: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  cursor:pointer;
  outline-color: none;
  box-shadow: none;
}
.active-page {
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    cursor:pointer;
    outline-color: none;
    box-shadow: none;
}
.det{
  margin-top:155px
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  width:2.2rem
}
.btn-stt,.btn-stt:focus {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  background-color: #ffaa33;
  color: #6c757d;
  border-radius: 5px; 
  width: 50px;
  height: 50px;
  font-size: x-large;
  transform: rotate(-90deg);
}
.btn-stt:hover {
  background-color: #6c757d;
  color: #fff;
  outline: none;
}
.err{
  color: #c93644;
  text-align: left;
  font-size: 17px;
}
.error-page{
margin-top: 140px;
}
.search-form button, .search-form input, .search-form select{
  width: 200px;
  margin:20px !important;
  vertical-align: bottom;
  height: 56px !important
}
.image-loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #263238; 
}
.image-loader::before {
  content: '';  
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffaa33;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.image-loader::after {
  content: '';  
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffaa33;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}  
.title {
  width: 100%;
  font-size: 36px;
}